name: Release CI

on:
  push:
    branches:
      - main

jobs:
  generate-tags:
    name: Generate Docker Tags
    runs-on: ubuntu-latest
    outputs:
      tag_date: ${{ steps.tag_date.outputs.tag_date }}
      short_sha: ${{ steps.short_sha.outputs.short_sha }}
      clean_ref_name: ${{ steps.clean_ref_name.outputs.clean_ref_name }}
    steps:
      - name: Generate Tag Date
        id: tag_date
        run: echo "tag_date=$(date +'%Y%m%d')" >> "$GITHUB_OUTPUT"
      - name: Generate Short SHA
        id: short_sha
        run: echo "short_sha=$(echo $GITHUB_SHA | cut -c1-7)" >> "$GITHUB_OUTPUT"
      - name: Clean Ref Name
        id: clean_ref_name
        # replace '/' with '-' in the case of release branches
        run: echo "clean_ref_name=$(echo $GITHUB_REF_NAME | sed 's/\//-/g')" >> "$GITHUB_OUTPUT"

  publish-docker-image:
    name: Publish Docker Image
    uses: ./.github/workflows/publish-docker-images.yaml
    secrets: inherit
    needs:
      - generate-tags
    permissions:
      contents: read
      packages: write
    with:
      images: |
        ghcr.io/${{ github.repository }}
      tags: |
        type=raw,value=${{ needs.generate-tags.outputs.clean_ref_name }}-${{ needs.generate-tags.outputs.tag_date }}-${{ needs.generate-tags.outputs.short_sha }}
        type=raw,value=${{ needs.generate-tags.outputs.clean_ref_name }}-latest