name: Test Queries

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  golangci:
    name: test-queries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false
      - name: Build Thorflux
        run: go build -o thorflux ./cmd/thorflux
      - name: Start InfluxDB
        run: docker compose up -d --wait influxdb
      - name: Run Dashboard Queries
        env:
          THORFLUX_BINARY: ${{ github.workspace }}/thorflux
        run: |
          go test ./grafana -v