name: Test Queries

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  golangci:
    name: test-queries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false
      - name: Build Docker Image
        run: docker build -t thorflux-gha .
      - name: Run Grafana Queries Tests
        env:
          THORFLUX_DOCKER_IMAGE: thorflux-gha
        run: |
          go test ./grafana -v