name: Test Queries

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"

permissions:
  contents: read

jobs:
  golangci:
    name: test-queries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: false
      - name: Start InfluxDB
        run: docker compose up -d --wait influxdb
      - name: Run Dashboard Queries
        run: go test ./grafana -v